@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  --gradientColor1: orange;
  --gradientColor2: #24c4bc;
  --gradientColor3: #775df4;
  --grayColor: #f0f4f7;
  --shapeSize: 20px;
  --triangleSize: 10px;
}
body {
  margin: 0;
}
img {
  height: 0;
  flex-grow: 3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*Start header & footer*/
#headTitle {
  font-family: "Raleway";
  font-size: 20px;
  margin: 0;
  padding-top: 1em;
  padding-left: 1em;
}
#head {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: black;
  height: 4em;
  color: white;
  text-transform: uppercase;
}
#title {
  font-family: "Raleway";
  padding-left: 15%;
  padding-top: 2%;
  margin-bottom: -1%;
}
#foot {
  width: 100vw;
  height: 10em;
  background-color: var(--grayColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#triangle {
  width: 0;
  height: 0;
  border-left: var(--triangleSize) solid transparent;
  border-right: var(--triangleSize) solid transparent;
  border-bottom: var(--shapeSize) solid black;
}
#circle {
  width: var(--shapeSize);
  height: var(--shapeSize);
  border-radius: 50%;
  background-color: black;
}
#square {
  width: var(--shapeSize);
  height: var(--shapeSize);
  background-color: black;
}
/*End header & footer*/
/*Start grid design*/
#grid {
  margin-left: auto;
  margin-right: auto;
}
.cardGrid {
  display: grid;
  width: 70vw;

  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
}
/*End grid design*/
/*Start card design*/
.card {
  height: 20rem;
  box-shadow: lightgray 0px 0px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
}
#upperHalf {
  background: linear-gradient(
    90deg,
    var(--gradientColor1),
    var(--gradientColor2),
    var(--gradientColor3)
  );
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-grow: 1;
}
#lowerHalf {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#cardText {
  width: 80%;
  margin: 10px;
}
#cardTag {
  margin: 3px;
  padding: 3px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--grayColor);
  width: 6em;
}
#cardTitle {
  font-family: "Raleway";
  margin: 0px;
}
#plusButton {
  align-self: center;
}
.button {
  background-color: var(--gradientColor1);
  border: none;
  margin: 10px;
  border-radius: 100%;
  font-size: 40px;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
}
.x {
  line-height: 0px;
  padding-bottom: 10%;
  margin: auto;
}
/*End card design*/

@media (max-width: 800px) {
  .card {
    flex-direction: row;
    height: 5em;
  }
  .cardGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #upperHalf {
    width: 40%;
    justify-self: flex-start;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
  #lowerHalf {
    flex-grow: 1;
    justify-self: flex-end;
  }
  #cardTitle {
    font-size: 18px;
    width: 180px;
  }
  #cardTag {
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    text-align: left;
    width: 5em;
  }
  #plusButton {
    margin: auto;
    margin-right: 3%;
    margin-top: 3%;
  }
  img {
    height: auto;
    width: 100px;
    flex-grow: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
}
/* <div class = "cardChild" id = "upperHalf"> </div> */
